html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #d4d4d4;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 60px auto 60px;
    grid-template-areas: "header header header" ". app ." "footer footer footer";
}

* {
    margin: 0;
}

.hidden {
    display: none;
}

header {
    grid-area: header;
    position: relative;
}

header .banner {
    padding: 1rem;
    position: relative;
    color: #FFF;
    min-height: 100%;
    font-weight: bold;
    box-sizing: border-box;
    transition: font-size 500ms;
    background: rgb(142, 45, 226);
    background: linear-gradient(90deg, rgba(142, 45, 226, 1) 0%, rgba(74, 0, 224, 1) 100%);
}

header .banner:hover {
    font-size: 1.3rem;
}

#the-solution-app {
    grid-area: app;
    padding-top: 20px;
}

footer {
    grid-area: footer;
    background-color: #9f9faa;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox {
    display: inline-block;
    width: 1em;
    height: 1em;
    border: 1px solid #555;
    vertical-align: text-bottom;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: relative;
}

.checkbox.checked:after {
    content: '';
    position: absolute;
    width: 0.5em;
    height: 1em;
    border: solid;
    border-width: 0 2px 2px 0;
    transform-origin: 160% 70%;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.container {
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: min-content auto;
    grid-template-areas: ". sort" "filter articles";
    grid-column-gap: 50px;
    grid-row-gap: 40px;
    padding: 0 1em;
    max-width: 1000px;
}

.container .sort {
    grid-area: sort;
    justify-self: end;
    cursor: pointer;
}

.container .sort:hover a {
    text-decoration: underline;
}

.container .sort .icon {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    margin-bottom: 3px;
    transform-origin: 7px 7px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.container .sort.desc .icon {
    animation: rotateSortIcon 800ms forwards;
    -webkit-animation: rotateSortIcon 800ms forwards;
    animation-direction: reverse;
}

.container .sort.asc .icon {
    animation: rotateSortIcon 800ms forwards;
    -webkit-animation: rotateSortIcon 800ms forwards;
}

@keyframes rotateSortIcon {
    0% {
        transform: rotate(45deg) scale(1);
        -webkit-transform: rotate(45deg) scale(1);
    }
    33% {
        transform: rotate(45deg) scale(1.3);
        -webkit-transform: rotate(45deg) scale(1.3);
    }
    66% {
        transform: rotate(-135deg) scale(1.3);
        -webkit-transform: rotate(-135deg) scale(1.3);
    }
    100% {
        transform: rotate(-135deg) scale(1);
        -webkit-transform: rotate(-135deg) scale(1);
    }
}

.container .filter {
    grid-area: filter;
    justify-self: end;
    white-space: nowrap;
}

.container .articles {
    grid-area: articles;
}

h4 {
    font-weight: normal;
    text-decoration: underline;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    padding: 0.3em 0;
    cursor: pointer;
}

ul li:first-child {
    padding-top: 0.6em;
}

.article {
    display: flex;
    align-items: stretch;
    margin: 2em 0;
}

.articles .spinner {
    width: 100%;
    height: 90px;
    margin: 2em 0;
    clip-path: polygon(0% 0%, 0% 100%, 18% 100%, 18% 0%, 20% 0%, 50% 0%, 50% 30%, 20% 30%, 20% 0, 20% 45%, 100% 45%, 100% 70%, 20% 70%, 20% 75%, 100% 75%, 100% 100%, 20% 100%, 20% 0%);
    background: linear-gradient(90deg, #aaaaaa, #e1e1e1, #b9b9b9);
    background-size: 600% 600%;

    -webkit-animation: spinnerAnimation 3s ease infinite;
    -moz-animation: spinnerAnimation 3s ease infinite;
    animation: spinnerAnimation 3s ease infinite;
}

.empty {
    margin: 2em 0;
}

.error {
    color: #F00;
    font-weight: bold;
    margin: 2em 0;
}

@-webkit-keyframes spinnerAnimation {
    0% {
        background-position: 0% 51%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 51%
    }
}

@-moz-keyframes spinnerAnimation {
    0% {
        background-position: 0% 51%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 51%
    }
}

@keyframes spinnerAnimation {
    0% {
        background-position: 0% 51%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 51%
    }
}

.article:first-child {
    margin-top: 0;
}

.articles .article:hover {
    opacity: 1;
    background: #FFF;
    -webkit-box-shadow: 0px 0px 5px 10px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 0px 5px 10px rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 5px 10px rgba(255, 255, 255, 1);
}

.article .thumbnail {
    width: 140px;
    background: url(https://placeimg.com/280/180/nature) center;
    background-size: cover;
}

.article .content {
    margin-left: 1em;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr auto;
    grid-template-rows: min-content auto;
    grid-template-areas: "title date" "preamble preamble";
}

.article .title {
    margin: 0 0 0.5em;
    grid-area: title;
    font-size: 2em;
}

.article .date {
    grid-area: date;
    justify-self: end;
}

.article .preamble {
    grid-area: preamble;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;
    max-height: 32px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

@media (max-width: 767px) {
    body {
        font-size: 16px;
        grid-template-areas: "header header header" "app app app" "footer footer footer";
    }

    ul li {
        display: inline-block;
        margin-right: 1em;
    }

    .container {
        grid-template-areas: "filter sort" "articles articles";
        max-width: unset;
    }
}

@media (max-width: 575px) {
    body {
        font-size: 18px;
    }
}
